<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>New service</h1>
    <form method='post'>
    <!-- default is get= (not hide info on link) -->
        <label>Name</label>
        <input type="text" name='name' value="Your Name">
        <br>
        <label>YOB</label>
        <input type="text" name='yob' value="Year of Birth">
        <br>
        <label>Phone number</label>
        <input type="text" name='phone' value="Phone Number">
        <br>
        <input type="radio" name="gender" value= 1> Male<br>
        <input type="radio" name="gender" value= 0> Female<br>
        <br>
        <input type="submit" value="Thêm">
    </form>
</body>
</html>