<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Introduce myself</h2>
        <div>
            <p>Name: {{ info.Name }}</p>
            <p>Age: {{ info.Age }}</p>
            <p>Work: {{ info.Work }}</p>
            <p>University: {{ info.University }}</p>
            <p>Girl Friend: {{ info.GF }}</p>
            <p>Hobbies: {{ info.Hobby }}</p>
        </div>
    
</body>
</html>