.font-lobster {
    font-family: 'Ruslan Display', cursive;
}

.mb-300px {
    margin-bottom: 300px;
}

.font-explain {
    font-family: 'PT Serif', serif;
}

.h-def {
    height: default;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

